//import mixin file
@use './mixins' as *;
.init {
    position: relative;
    height: 100vh;
    .header {
        @include flex(space-between, center);
        padding: 30px;
        background-color: white;
        height: 14vh;
        .header-auth {
            flex: .23;
            ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            li  {
                 a.start {
                    padding: 9px 40px;
                    background-color: #161D6F;
                    color: white;
                    border-radius: 6px;
                    transition: .3s;
                    font-size: 18px;
                }
                a.start:hover {
                    color: #161D6F;
                    background-color: #1EE3CF;
                }
                a.enter {
                    text-wrap: nowrap;
                    border: 1px solid #161D6F;
                    color: #161D6F;
                    background-color: white;
                    border-radius: 6px;
                    padding: 9px 40px;
                    margin-left: .5rem;
                    transition: 0.3s;
                    font-size: 18px;
                 }
                 a.enter:hover {
                    background-color: #161D6F;
                    color: white;
                 }
                }
                img {
                    width: 150px;
                }
            }
        }
        .icons {
            position: relative;
            cursor: pointer;
            svg {
                position: absolute;
                &.close {
                    display: none;
                }
            }
        }
    }
    .header-content {
        flex: 1;
        color: #161D6F;
        display: flex;
        justify-content: flex-end;
        ul {
            @include flex(space-between, center);
            list-style: none;
            li {
                a {
                    color:#161D6F;
                    margin: 0 .3rem;
                }
            }
            }
            img {
                margin-left: 20px;
            }
        .menu {
            font-size: 22px;
        }
        ul.ul-menu {
            left: 20px;
        }
       }
    .init-content {
        background-image: url('../assets/images/Rectangle\ 82.svg');
        height: 66vh;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .init-contet-text{
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 30%;
            direction: rtl;
            height: 200px;
            h3 {
                font-family: Noor;
                font-size: 22px;
                font-weight: 400;
                line-height: 26.4px;
                text-align: center;
                color: #1EE3CF;
            }
            span {
                font-size: 50px;
                margin: 40px 0 60px 0;
                display: block;
                color: white;
                width: 750px;
                text-align: center;
            }
            p {
                color: #1EE3CF;
                font-size: 22px;
                text-align: center;
            } 
        }
    }
    .footer {
        background-image: url('../assets/images/Rectangle\ 72.png');
        height: 168.1px;
        height: 20vh;
        @include flex(center, center);
        div {
            text-align: center;
            img {
                width: 80%;
            }
        }
    }
    }
 // responsive navbar
 @media (max-width: 575px) {
    .init .header .header-auth ul li a {
        padding: 9px 12px !important;
        font-size: 14px !important;
    }
    .init .init-content .init-contet-text  {
        width: 320px;
        span {
            font-size: 25px;
            width: 308px;
        }
    }
     .header-content ul.ul-menu{
        display: none ;
        flex-direction: column;
        border-radius: 10px;    
        background: #0f3e86;
        top: 80px;
        z-index: 2;
        position: absolute;
        margin: auto;
        padding: 10px;
        width: 90%;
        li {
            width: 100%;
            padding: 15px;
            margin:  2px;
            border-bottom: .5px solid wheat;
            text-align: center;
            font-size: 20px;
            a {
                color: white;
            }
        }
    }
    .logo {
        display: none;
        cursor: pointer;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    a.enter {
        padding: 9px 12px !important;
    }
    .init .init-content .init-contet-text  {
        span {
            font-size: 35px;
            width: 452px;
        }
    }
    .header-content ul.ul-menu {
        display: none ;
        flex-direction: column;
        border-radius: 10px;    
        background: #0f3e86;
        top: 80px;
        z-index: 2;
        position: absolute;
        margin: auto;
        padding: 10px;
        width: 90%;
        li {
            width: 100%;
            padding: 15px;
            margin:  2px;
            border-bottom: .5px solid wheat;
            text-align: center;
            font-size: 20px;
            a {
                color: white ;
            }
        }
    }
    .logo {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .init .header-content ul li a {
        font-size: 14px;
    }
    .header {
        .logo {
            width: 100px;
        }
    .header-auth ul li {
        a.enter {
            padding: 9px 12px !important;
        }
        a {
            font-size: 12px !important;
        }
    }
    .menu {
        display: none;
    }
}}
@media (min-width: 992px) and (max-width: 1999px) {
    .header .icons {
        display: none ;
    }
}
@media (min-width: 1200px) {
    .header .icons {
        display: none !important;
    }
}
