.register {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 3px 1px #aaa;
  margin: auto;
  border-radius: 12px;
  background-image: url("../assets/images/amazing-aerial-shot-singapore-cityscape-with-lots-skyscrapers (1).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 71px;
  height: 86vh;
  left: 10%;
}
.register .register-content {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  width: 80%;
  height: 86vh;
}
.register .register-content h1 {
  text-align: center;
  margin-bottom: 30px;
}
.register .register-content .register-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex: 0.5;
  height: 40vh;
}
.register .register-content .register-info .register-inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.register .register-content .register-info .register-inputs .inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  position: relative;
}
.register .register-content .register-info .register-inputs .inputs label {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: white;
  padding: 0 20px;
}
.register .register-content .register-info .register-inputs .inputs input {
  width: 100%;
  padding: 4% 3%;
  border-radius: 16px;
  outline: none;
  border: 0.3px solid #aaa;
}
.register .register-content .register-info .register-images {
  width: 50%;
  height: 100%;
}
.register .register-content .register-info .register-images .select-file {
  position: relative;
  margin-bottom: 20px;
  font-size: 0.9rem;
}
.register .register-content .register-info .register-images .select-file img {
  width: 87%;
}
.register .register-content .register-info .register-images .select-file span {
  position: absolute;
  top: -16.5px;
  right: 64px;
}
.register .register-content .register-info .register-images .select-file div {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  justify-content: flex-start;
  width: 100%;
}
.register .register-content .register-info .register-images .select-file div img {
  width: 40px;
  margin: 3px;
}
.register .register-content .register-info .register-images .select-file div p {
  text-align: center;
}
.register .register-content .register-info button {
  width: 80%;
  padding: 12px 10px;
  outline: none;
  border-radius: 10px;
  border: 0.3px solid #aaa;
  background-color: #1EE3CF;
  color: #0A0E3F;
  font-size: 22px;
  font-weight: bold;
}
.register .register-content .register-info p.log {
  margin: 10px;
  text-align: right;
  width: 413px;
}
.register .register-content .register-info p.log span {
  color: #0A0E3F;
}
.register .register-content span.or {
  position: relative;
  top: 24%;
  left: 50%;
  background-color: white;
  margin: 10px;
}
.register .register-content span.or::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  background-color: #aaa;
  left: -135px;
  top: 10px;
}
.register .register-content span.or::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  left: 17px;
  top: 10px;
  background-color: #aaa;
}
.register .register-content .social-login {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  bottom: 39px !important;
  right: 90px;
}
.register .register-content .social-login div {
  display: flex;
  align-items: center;
  border-radius: 21px;
  padding: 31.5px 20px 31.5px 20px;
  padding: 5px 15px;
  box-shadow: 0 0 2px 1px #b9b5c9;
}
.register .register-content .social-login div span {
  margin-left: 4px;
}
.register .register-content .social-login div:nth-child(1) {
  background-color: white;
}
.register .register-content .social-login div:nth-child(2) {
  background-color: black;
  color: white;
}
.register .register-content .social-login div:nth-child(3) {
  background-color: #1877F2;
  color: white;
}

@media (max-width: 575px) {
  .register {
    height: 86vh;
  }
  .register .register-content {
    width: 100%;
    height: 86vh;
  }
  .register .register-content .register-info {
    height: 52vh;
    flex-direction: column;
  }
  .register .register-content .register-info .register-inputs {
    width: 350px;
  }
  .register .register-content .register-info .register-inputs .inputs {
    margin-bottom: 10px;
  }
  .register .register-content .register-info .register-inputs .inputs label {
    font-size: 10px;
  }
  .register .register-content .register-info .register-inputs .inputs input {
    width: 270px;
    padding: 3px;
  }
  .register .register-content .register-info .register-images .select-file span {
    font-size: 10px;
    top: -7.5px;
    right: 1px;
  }
  .register .register-content .register-info .register-images .select-file img {
    width: 98%;
  }
  .register .register-content .register-info .register-images .select-file div img {
    width: 20px;
  }
  .register .register-content .register-info .register-images .select-file div img p {
    font-size: 10px !important;
  }
  .register .register-content .register-info .register-images button {
    padding: 4px;
    font-size: 16px;
  }
  .register .register-content .register-info .register-images p.log {
    margin: 10px;
    text-align: right;
    width: 194px;
    font-size: 10px;
  }
  .register .register-content span.or {
    top: 33px;
    font-size: 10px;
  }
  .register .register-content span.or::after, .register .register-content span.or::before {
    width: 100px;
  }
  .register .register-content span.or::before {
    left: -110px;
  }
  .register .register-content .social-login {
    width: 64%;
  }
  .register .register-content .social-login div img {
    width: 12px !important;
  }
  .register .register-content .social-login div span {
    font-size: 12px;
  }
  .register .register-content .register-info .register-images .select-file div p {
    font-size: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .register .register-content {
    width: 100%;
    height: 86vh;
  }
  .register .register-content span.or {
    top: 61px;
  }
  .register .register-content .social-login {
    bottom: 280px;
    width: 75%;
  }
  .register .register-content .social-login img {
    width: 20px;
  }
  .register .register-content .register-info .register-images .select-file img {
    width: 100%;
  }
  .register .register-content .register-info .register-images .select-file div img {
    width: 25px;
    margin: 3px;
  }
  .register .register-content .register-info .register-images .select-file div p {
    width: 200px;
  }
  .register .register-content p.log {
    width: 198px !important;
  }
}
@media (min-width: 668px) and (max-width: 991px) {
  .register {
    height: 80vh;
  }
  .register .register-content {
    height: 80vh;
    width: 100%;
  }
  .register .register-content .register-info .register-images .select-file img {
    width: 99%;
  }
  .register .register-content .register-info .register-images .select-file span {
    right: 0;
  }
  .register .register-content .register-info .register-images .select-file div img {
    width: 40px;
    margin: 3px;
  }
  .register .register-content .register-info .register-images .select-file div p {
    font-size: 10px;
    text-align: center;
    font-size: 13px;
  }
  .register .register-content .register-info button {
    width: 80%;
    padding: 6px 10px;
    font-size: 19px;
  }
  .register .register-content .register-info p.log {
    font-size: 12px;
    width: 216px !important;
  }
  .register .register-content .register-info p.log span {
    color: #0A0E3F;
  }
  .register .register-content span.or {
    top: 14%;
    font-size: 12px;
  }
  .register .register-content .social-login {
    bottom: 161px;
    width: 75%;
    font-size: 12px;
  }
  .register .register-content .social-login div img {
    bottom: 161px;
    width: 75%;
    width: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1999px) {
  .register .register-content .register-info {
    flex: 0.5;
  }
  .register .register-content .register-info .register-inputs {
    width: 50%;
  }
  .register .register-content .register-info .register-inputs .inputs {
    width: 85%;
  }
  .register .register-content .register-info .register-inputs .inputs label {
    top: -10px;
    right: 10px;
  }
  .register .register-content .register-info .register-inputs .inputs input {
    padding: 4% 3%;
  }
  .register .register-content .register-info .register-images .select-file {
    position: relative;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .register .register-content .register-info .register-images .select-file img {
    width: 94%;
  }
  .register .register-content .register-info .register-images .select-file span {
    position: absolute;
    top: -16.5px;
    right: 64px;
  }
  .register .register-content .register-info .register-images .select-file div img {
    width: 30px;
    margin: 3px;
  }
  .register .register-content .register-info .register-images .select-file div p {
    font-size: 11px;
  }
  .register .register-content .register-info button {
    width: 80%;
    padding: 12px 10px;
    font-size: 20px;
  }
  .register .register-content .register-info p.log {
    margin: 10px;
    text-align: right;
    width: 235px;
  }
  .register .register-content .register-info p.log span {
    color: #0A0E3F;
  }
  .register .register-content span.or {
    top: 15%;
  }
  .register .register-content .social-login {
    bottom: 160px;
  }
}/*# sourceMappingURL=register.css.map */